body{
  margin:0;
  background:black;
  color:white;
  font-family:sans-serif;
}

/* GLASS */
.library{
  padding:100px 40px;
}

/* TRACK LIST */
.track{
  padding:15px;
  margin:10px 0;
  background:rgba(255,255,255,0.05);
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.track:hover{
  background:rgba(255,215,0,0.1);
}

/* VINYL */
.vinyl{
  width:200px;
  height:200px;
  border-radius:50%;
  margin:auto;
  animation:spin 4s linear infinite;
}

@keyframes spin{
  to{transform:rotate(360deg);}
}

/* PREVIEW EFFECT */
.track:hover{
  transform:scale(1.02);
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  backdrop-filter:blur(10px);
  background:rgba(0,0,0,0.3);
}
/* ALBUM */
.album {
  margin-bottom: 40px;
}

.album h3 {
  color: gold;
  margin-bottom: 10px;
}

/* TRACK */
.track {
  padding: 12px;
  border-radius: 10px;
  transition: 0.25s ease;
}

/* HOVER FLUIDE */
.track:hover {
  background: rgba(255,215,0,0.08);
  transform: translateX(10px);
}

/* VINYL CONTROL */
.vinyl {
  animation: spin 4s linear infinite;
  animation-play-state: paused;
}

.vinyl.playing {
  animation-play-state: running;
}
/* ================= BACKGROUND IMAGE ================= */

body {

  /* 🔴 CHANGE TON IMAGE ICI */
  background: url('../assets/images/background4.png') center/cover no-repeat fixed;

}

/* OPTION GLASS OVERLAY (effet premium) */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.3); /* assombrit */
  backdrop-filter: blur(0.4px); /* effet glass */

  z-index: -1;
}
.logo img{
  width:80px;
  height:auto;
}

@media(max-width:768px){
  .logo img{
    width:80px; /* plus petit sur mobile */
  }
}
.logo img{
  width:80px;
  height:auto;

  filter: drop-shadow(0 0 10px rgba(255,0,100,0.5));
  transition:0.3s;
}

.logo img:hover{
  transform:scale(1.05);
}
/* NAVBAR AUTO HIDE */
.navbar {
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.navbar.hide {
  transform: translateY(-100%);
  opacity: 0;
}
.navbar {
  will-change: transform;
}