.spotify-layout{
display:grid;
grid-template-columns:280px 1fr;
gap:25px;
padding:40px;
margin-top:40px;
}

.spotify-sidebar{
background:rgba(255,255,255,0.05);
border:1px solid rgba(255,255,255,0.08);
backdrop-filter:blur(20px);
padding:25px;
border-radius:25px;
}

.spotify-sidebar h3{
font-size:1.4rem;
margin-bottom:25px;
color:#fff;
}

.playlist-menu{
display:flex;
flex-direction:column;
gap:15px;
}

.playlist-btn{
background:rgba(255,255,255,0.04);
border:none;
padding:16px;
border-radius:16px;
color:#fff;
cursor:pointer;
display:flex;
align-items:center;
gap:12px;
transition:.3s;
font-size:1rem;
}

.playlist-btn:hover,
.playlist-btn.active{
background:#d4af37;
color:#000;
transform:translateX(5px);
}

.spotify-content{
background:rgba(255,255,255,0.05);
border-radius:30px;
padding:30px;
backdrop-filter:blur(20px);
}

.spotify-header{
margin-bottom:30px;
}

.spotify-header h2{
font-size:2rem;
color:#fff;
}

.spotify-header p{
color:#aaa;
}

.spotify-tracks{
display:flex;
flex-direction:column;
gap:15px;
}

.spotify-track{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px;
background:rgba(255,255,255,0.04);
border-radius:18px;
transition:.3s;
cursor:pointer;
}

.spotify-track:hover{
transform:scale(1.01);
background:rgba(255,255,255,0.08);
}

.track-left{
display:flex;
align-items:center;
gap:15px;
}

.track-left img{
width:65px;
height:65px;
border-radius:14px;
object-fit:cover;
}

.track-info h4{
color:#fff;
margin-bottom:5px;
}

.track-info p{
color:#aaa;
font-size:.9rem;
}

.play-icon{
width:55px;
height:55px;
border-radius:50%;
background:#d4af37;
display:flex;
align-items:center;
justify-content:center;
color:#000;
font-size:1.3rem;
}

@media(max-width:900px){

.spotify-layout{
grid-template-columns:1fr;
padding:20px;
}

}
/* =========================================
   PREMIUM VIDEO PLAYER ZARABESSO
========================================= */

#videoPlayer {
  display: block !important;
  width: 100%;
  margin-top: 30px;

  border-radius: 25px;
  overflow: hidden;

  background: black;

  box-shadow:
    0 0 60px rgba(255, 215, 0, 0.18),
    0 0 120px rgba(0, 0, 0, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.08);

  object-fit: cover;

  max-height: 650px;

  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* HOVER PREMIUM */
#videoPlayer:hover {
  transform: scale(1.015);
  box-shadow:
    0 0 80px rgba(255, 215, 0, 0.25),
    0 0 160px rgba(0, 0, 0, 0.7);
}

/* MOBILE */
@media (max-width: 768px) {
  #videoPlayer {
    border-radius: 18px;
    max-height: 300px;
  }
}
